version: "3.9"

services:
  postgres:
    image: postgres:16.2-alpine
    container_name: postgres_db
    restart: unless-stopped

    ports:
      - "5432:5432"

    env_file:
      - ../.env

    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      TZ: ${TZ}

    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./docker/postgres/init:/docker-entrypoint-initdb.d

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

    networks:
      - postgres_network
  
  api:
    
    build:
      context: /Users/wilson/Documents/golang/api-booking
      dockerfile: containers/Dockerfile
      
    container_name: api-booking
    ports:
      - "8000:8000"
    env_file:
      - ../.env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_HOST: ${POSTGRES_HOST_DOCKER}
      JWT_SECRET: ${JWT_SECRET}
      TZ: ${TZ}
    depends_on:
      - postgres
    networks:
      - postgres_network

volumes:
  postgres_data:

networks:
  postgres_network:
    driver: bridge
